* {
    margin: 0 0 0 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #edaeae;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    background-color: #edaeae;
}

h1 {
    text-align:center;
}



.chats {
    height:100%;
    width:20%;
    float:left;
    /*background-color:aqua;*/
    /*border-right:1px solid black;*/
}

.messages {
    width:60%;
    margin-left:20%;
    margin-right:20%;
    border:1px solid red;
    padding: 20px;
    height:500px;
}

.messages::after {
    clear: both;
    display: table;
    content: '';
}

#loginBlock {
    padding: 10px;
}

.login {
    height:100%;
    width:20%;
    float:right;
    /*background-color:yellow;*/
    /*border-left:1px solid black;*/
}

.wrapper {
    background-size: 100vh;
    background-color: #f8d7d7;
}

#chatroom {
    height:400px;
    padding:50px;
    overflow:auto;
}

#message {
    width:300px;
}

#inputForm {
    height:100px;
    padding-top:20px;
    border-top:1px solid black;
}

.chatline {
    color:blue;
    cursor:pointer;
    text-decoration:none;
    display:block;
    padding:5px;
    margin-left:10px;
    margin-top:10px;
    font-size:20px;
}

.msg_block_me {
    border-radius:5px;
    margin-top:5px;
    margin-bottom:5px;
    min-height:70px;
    min-width:300px;
    max-width:300px;
    background-color: #6df553;
    margin-left:450px;
}

.msg_block_another {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 70px;
    min-width: 300px;
    max-width: 300px;
    background-color: #c9c4c4;
}

#sendBtn, #loginBtn {
    padding-left:20px;
    padding-right:20px;
}

.id_m {
    display:none;
}

.msg_changes {
    background-color:white;
    z-index:10;
    position:fixed;
    top:300px;
    left:30%;
    width:400px;
    height:250px;
    visibility:hidden;
}

#change_text {
    width:350px;
    height:80px;
    display:block;
    margin:25px;
}

#changes_buttons {
    position:center;
    width:100%;
    margin:25px;
}

#changes_buttons button {
    margin:5px;
}

#msg_id {
    display:none;
}

.name_span {
    font-size: 16px;
    font-weight:bold;
}

.text_span {
    font-size: 16px;
}

#answer_txt {
    display:none;
}

#answer_from {
    display:none;
}

.answer_text {
    color:red;
    display:block;
    border-bottom:1px solid red;
}

#back_btn {
    color:red;
    float:right;
    margin-right:20px;
}